body {
    background-image: url("https://i.imgur.com/Z2w5Wwm.jpg");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-x: center;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainBlock {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 5px 20px gray;
    margin-top: 150px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
}

.header h2 {
    font-size: 28pt;
    margin: 0;
}

.header p {
    margin: 5px 0;
    font-size: 13pt;
    color: rgb(110, 108, 108);
}

.section1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.section1 input {
    font-size: 13pt;
    color: rgba(128, 128, 128, 0.89);
    height: 45px;
    border-radius: 5px;
    background-color: rgb(255, 255, 248);
    border: 1px solid rgba(128, 128, 128, 0.801);
}

.names {
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.names input {
    width: 40%;
    padding-left: 20px;
}

.credentials {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.credentials input {
    width: 95%;
    margin-top: 20px;
    padding-left: 20px;
}

fieldset {
    padding: 0;
    width: 100%;
    border: none;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.date select {
    font-size: 13pt;
    color: rgba(128, 128, 128, 0.89);
    border-radius: 5px;
    height: 45px;
    width: 30%
}


.sex div {
    background-color: white;
    border: 1px solid gray;
    font-size: 13pt;
    color: rgba(128, 128, 128, 0.89);
    border-radius: 5px;
    height: 45px;
    width: 30%;
    padding-left: 5px;
}

.radio {
    display: flex;
    align-items: center;
}

.footer {
    margin-top: 20px;
    font-size: 10pt;
}

.submitButton {
    font-size: 16pt;
    width: 250px;
    height: 45px;
    color: white;
    background-color: rgb(30, 173, 30);
    border-radius: 5px;
    border: none;
}

span {
    color: rgb(30, 70, 203);
}

legend{
    margin-bottom: 5px;
}

input:valid {
    border: 2px solid green;
}